.mainContentContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* align-items: center; */
    /* height: 100vh; */
}

.mainContent {
    display: flex;
    padding: 30px;
    border-radius: 60px;
    border: 5px solid gray;
    flex-direction: column;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.itemIdWrapper,
.currentItemNameWrapper {
    display: flex;
}

.itemIdWrapper,
.currentItemNameWrapper {
    font-size: 25px;
}

.itemId,
.currentItemName {
    margin-right: 10px;
}

.itemIdWrapper,
.currentItemNameWrapper {
    margin: 15px 15px 30px;
}

.itemPictureWrapper {
    font-size: 25px;
}

.itemPictureWrapper button {
    width: 350px;
    height: 35px;
    background-color: #9ba21f;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
}

.itemPictureWrapper button:hover {
    cursor: pointer;
    background-color: #797e17;
    font-weight: bold;
}

.itemPictureWrapper {
    margin: 15px 15px 30px;
}



.confirmWrapper {
    display: flex;
    justify-content: center;
}

.confirmWrapper input {
    width: 200px;
    height: 35px;
    background-color: #00878c;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
}

.confirmWrapper input:hover {
    cursor: pointer;
    background-color: #026a6b;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {

    .mainContent {
        width: 320px;
        padding: 10px;
        /* border: 0; */
        border: 4px solid gray;
    }

    .heading {
        font-size: 20px;
        padding: 10px;
    }

    .itemIdWrapper,
    .currentItemNameWrapper {
        font-size: 15px;
    }

    .itemPictureWrapper button {
        width: 190px;
        font-size: 15px;
    }

    .itemPictureWrapper {
        font-size: 15px;
    }

    .confirmWrapper input {
        font-size: 15px;
        width: 100px;
    }

}