.allItemContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    /* gap: 50px; */
    gap: 32px;
    margin: 60px 0 0 30px;
    padding-bottom: 50px;
}

.heading {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 32px;
    font-weight: bold;
}

.merchantSelectionContainer {
    margin-left: 30px;
}

.merchantSelectionContainer,
.merchantSelection {
    font-size: 26px;
}

.relevantItemLink {
    color: #111;
    text-decoration: none;
}

.relevantItemLink:hover {
    font-weight: bold;
}

.itemContainer {
    border-radius: 20px;
    /* background-color: #80808021; */
    /* background-color: #9e9e9e08; */
    background-color: #fff;
    /* background-color: rgb(255, 221, 127); */
    padding: 10px;
}

.itemContainer:hover {
    /* background-color: #80808061; */
    background-color: rgb(255 187 0);
}

.itemImg {
    object-fit: contain;
    width: 311px;
    height: 300px;
    /* width: 300px; */
    /* cursor: pointer; */
}

.itemName {
    text-align: center;
    font-size: 24px;
}

.merchantName {
    text-align: center;
    font-size: 24px;
}

.plusBtnQuantityInputMinusBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 50px;
}

.plusImg,
.minusImg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.plusImg:hover,
.minusImg:hover {
    background-color: #b9b9b9;
    border-radius: 50%;
}

.plusImgWithoutHover,
.minusImgWithoutHover {
    width: 50px;
    height: 50px;
}

.quantityInput {
    font-size: 24px;
    width: 80px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    /* color: rgb(255 187 0); */
}

.isNaNText,
.isNotAnIntegerText,
.minMaxNumText {
    text-align: center;
    color: red;
    height: 37px;
}

.isNaNTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToOrderCartContainer,
.addedToOrderCartAlreadyContainer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.addToOrderCart {
    /* background-color: #80808021; */
    /* background-color: rgb(255, 221, 127); */
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    /* border: 1px black solid; */
    border-radius: 15px;
    font-size: 20px;
    width: fit-content;
}

.addToOrderCart:hover {
    cursor: pointer;
    font-weight: bold;
    /* background-color: #80808061; */
    /* background-color: rgb(236, 191, 70); */
    background-color: #c70202;

}

.addedToOrderCartAlready {
    background-color: #80808021;
    /* background-color: #0900ff; */
    /* color: #fff; */
    padding: 10px;
    /* border: 1px black solid; */
    border-radius: 15px;
    font-size: 20px;
    width: fit-content;
}

/* .addedToOrderCartAlready:hover {
    background-color: #0600bc;
} */

.noItemsYet {
    font-size: 24px;
}

@media only screen and (max-width: 600px) {

    .allItemContainer {
        justify-content: center;
        align-items: center;
        margin: 60px 0 0 0;
    }

    .itemImg {
        /* object-fit: contain; */
        width: 260px;
        height: 260px;
        /* width: 300px; */
        /* cursor: pointer; */
    }

    .isNaNText {
        width: 210px;
    }


}