.mainContentContainer {
    padding-bottom: 50px;
}

.heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.noOrdersYet {
    font-size: 24px;
    margin-left: 30px;
}

.table {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: #fff;
    /* border: 1px solid black; */
    border-spacing: 0;
    width: fit-content;
}

.table th {
    font-size: 24px;
    padding: 25px;
    text-align: left;
    color: #fff;
    background-color: #001eff;
}

.table td {
    text-align: left;
    font-size: 22px;
    padding: 25px;
}

.thead tr th:first-child {
    border-top-left-radius: 20px;
}

.thead tr th:last-child {
    border-top-right-radius: 20px;
}

.tbody tr:hover {
    background-color: rgb(255, 221, 127);
    /* cursor: pointer; */
    /* border: 1px solid black; */
}

.tbody tr:hover td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tbody tr:hover td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.itemNameQuantityContainerTd {
    width: 400px;
}

.itemNameQuantityContainer {
    display: flex;
    gap: 10px;
}

.itemQuantityContainer {
    display: flex;
    gap: 2px;
}

.itemName {
    flex: 1;
    text-align: left;
}

.itemQuantityContainer {
    flex: 0 0 120px;
}

@media only screen and (max-width: 600px) {
    .tableContainer {
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

    .table {
        margin: 0 30px 0 30px;
    }

    .table th {
        font-size: 15px;
        padding: 10px;
    }

    .table td {
        font-size: 15px;
        padding: 10px;
    }

    .itemQuantityContainer {
        flex: 0 0 65px;
    }

    .itemNameQuantityContainerTd {
        max-width: 200px;
    }

}