.allItemContainer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 60px 0 0 30px;
    padding-bottom: 50px;
}

.heading,
.createEditContainer {
    margin-bottom: 20px;
    margin-left: 30px;
}

.heading {
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
}

.createEditContainer {
    display: flex;
    gap: 10px;
}

.createEditContainer>div {
    /* background-color: #80808021; */
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    /* border: 1px black solid; */
    border-radius: 15px;
    font-size: 20px;
}

.createEditContainer>div:hover {
    cursor: pointer;
    font-weight: bold;
    /* background-color: #80808061; */
    background-color: #c70202;

}

.relevantItemLink {
    color: #111;
    text-decoration: none;
}

.relevantItemLink:hover {
    font-weight: bold;
}

.itemContainer {
    border-radius: 20px;
    /* background-color: #80808021; */
    /* background-color: #fff; */
    background-color: rgb(255, 221, 127);
    padding: 10px;
}

.itemContainer:hover {
    background-color: rgb(255 187 0);
}

.itemContainer img {
    object-fit: contain;
    width: 300px;
    height: 300px;
    /* cursor: pointer; */
}

.itemName {
    text-align: center;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    .allItemContainer {
        justify-content: center;
        align-items: center;
        margin: 60px 0 0 0;
    }

    .itemContainer img {
        width: 260px;
        height: 260px;
    }

}