.mainContentContainer {
    padding-bottom: 50px;
}

.heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.noOrdersFound {
    font-size: 24px;
    margin-left: 30px;
}

.table {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: #fff;
    /* border: 1px solid black; */
    border-spacing: 0;
}

.table th {
    font-size: 24px;
    padding: 25px;
    text-align: left;
    color: #fff;
    background-color: #001eff;
}

.table td {
    text-align: left;
    font-size: 22px;
    padding: 25px;
}

.thead tr th:first-child {
    border-top-left-radius: 20px;
}

.thead tr th:last-child {
    border-top-right-radius: 20px;
}

.itemNameQuantityContainerTd {
    width: 400px;
}

.itemNameQuantityContainer {
    display: flex;
    gap: 10px;
}

.itemQuantityContainer {
    display: flex;
    gap: 2px;
}

.itemName {
    flex: 1;
    text-align: left;
}

.itemQuantityContainer {
    flex: 0 0 120px;
}

@media only screen and (max-width: 600px) {
    .table th {
        font-size: 15px;
        padding: 10px;
    }

    .table td {
        font-size: 15px;
        padding: 10px;
    }

    .itemQuantityContainer {
        flex: 0 0 65px;
    }
}