.welcomeMsgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70dvh;
    font-size: 45px;
    /* color: white; */
}

.welcomeMsgForBrowser {
    background-color: #9e9e9e08;
    padding: 32px;
    width: 100dvw;
    border-radius: 50px;
    text-align: center;
}

.tuckShopRestockingSystemForBrowser {
    font-size: 50px;
}

.welcomeMsgForPhone {
    display: none;
}

@media only screen and (max-width: 600px) {
    .welcomeMsgWrapper {
        font-size: 30px;
    }

    .welcomeMsgForBrowser {
        display: none;
    }

    .welcomeMsgForPhone {
        display: block;
        background-color: #9e9e9e08;
        padding: 32px;
        width: 100dvw;
        border-radius: 50px;
        text-align: center;
    }

    .tuckShopRestockingSystemForPhone {
        font-size: 35px;
    }
}