.mainContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.mainContent {
    display: flex;
    /* background-color: #c6f4f6; */
    /* background-color: #32e0e7; */
    padding: 30px;
    border-radius: 60px;
    border: 5px solid gray;
}

.registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.usernameAndPasswordWrapper input,
.companyNameWrapper input {
    border-radius: 10px;
    /* border: 1px solid gray; */
    border: 0;
    height: 48px;
    width: 390px;
    font-size: 25px;
    padding: 0 0 0 10px;
}

.welcomeMsg {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.usernameAndPasswordWrapper,
.companyNameWrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
}

.usernameAndPasswordWrapper>div,
.companyNameWrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelWrapper {
    width: 206px;
    display: flex;
    justify-content: end;
    margin-right: 10px;
}


.registerButtonWrapper {
    margin: 16px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerButtonWrapper input:hover {
    cursor: pointer;
    background-color: #026a6b;
    font-weight: bold;
}

.registerButtonWrapper input {
    width: 200px;
    height: 35px;
    background-color: #00878c;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
}

.loginPrompt {
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.registrationTypeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 15px 0;
}

.clientRadioWrapper {
    margin: 0 10px 0 0;
}

.registrationTypeRadioWrapper {
    display: flex;
    width: 402px;
}

.logoUploadWrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 20px;
    margin: 15px 15px 30px;
}

.logoInput input {
    display: none;
}

.logoButton {
    width: 350px;
    height: 35px;
    background-color: #9ba21f;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
}

.logoButton:hover {
    cursor: pointer;
    background-color: #797e17;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .mainContentContainer {
        height: auto;
    }

    .mainContent {
        width: 320px;
        padding: 10px;
        /* border: 0; */
        border: 4px solid gray;

    }

    .welcomeMsg {
        font-size: 20px;
        /* font-weight: bold; */
        padding: 10px;
        height: 50px;
        text-align: center;
    }

    .usernameAndPasswordWrapper,
    .companyNameWrapper {
        font-size: 15px;
    }

    .registrationTypeWrapper {
        font-size: 15px;
    }

    .usernameAndPasswordWrapper input,
    .companyNameWrapper input {
        /* border-radius: 10px; */
        /* border: 1px solid gray; */
        /* border: 0; */
        height: 35px;
        width: 200px;
        font-size: 15px;
        padding: 0 0 0 10px;
    }

    .loginPrompt {
        width: fit-content;
    }

    .logoUploadWrapper {
        font-size: 15px;
    }

    .logoButton {
        width: 292px;
        font-size: 15px;
    }

    .registerButtonWrapper input {
        font-size: 15px;
    }

    .registrationTypeRadioWrapper {
        /* width: 200px; */
        width: fit-content;
    }

    .labelWrapper {
        width: fit-content;
    }

    .loginPromptWrapper {
        display: flex;
        justify-content: center;
    }

    .loginPrompt {
        font-size: 15px;
    }

    .labelWrapper.companyNameLabelWrapper {
        text-align: center;
    }
}