.body {
    margin: 0;
    padding: 0;
    /* height: 100%;
    display: flex;
    flex-direction: column; */
}

/* .test {
    flex: 0 0 0;
    background-color: yellow;
} */

.rootBackground {
    /* flex: 1; */
    display: flex;
    height: 100dvh;
    /* min-height: 100vh; */
    /* height: auto; */
    /* height: 100vh; */
    /* width: 100vw; */
}



.menuContainer {
    flex: 0 0 330px;
    /* flex: 0 0 310px; */
    /* width: 310px; */
}

.menuContainer {
    /* position: fixed; */
}

.mainContent {
    /* display: flex; */
    background-color: #f1efef;
    flex: 1;
    font-family: Helvetica;
    overflow: auto;
    /* overflow-y: hidden; */
}

/* .mainContent:hover {
    overflow: auto; */
    /* overflow-y: auto; */
/* } */

.systemName {
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 23px;
}

.menu>div {
    margin: 20px;
}

.menuHeader {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 23px 0 23px 0;
    cursor: pointer;
}

.tuckShop {
    width: 70px;
}

.topBlank {
    height: 66.82px;
    background-color: #f1efef;
    /* background-color: red; */
}

@media only screen and (max-width: 600px) {
    .menuContainer {
        display: none;
    }
    .menuContainer.open {
        display: block;
    }
}