.heading,
.total {
    margin-bottom: 20px;
    margin-left: 30px;
}

.heading {
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
}

.total {
    font-size: 26px;
}

.allSubscribersContainer {
    display: flex;
    /* justify-content: center; */
    /* align-items: center;
    flex-wrap: wrap; */
    gap: 20px;
    margin: 60px 0 0 30px;
    flex-direction: column;

}

.subscriberContainer {
    border-radius: 20px;
    padding: 25px;
    width: fit-content;
    font-size: 26px;
    /* border: 1px #111 solid; */
    background: #89caf0;
}

.subscriberContainer:hover {
    cursor: pointer;
    font-weight: bold;
    background: #15a8ff;
}

.relevantOrderLink {
    text-decoration: none;
    color: #111;
    width: fit-content;
}